
* {
    font-family: 'Oswald', sans-serif;
}

.just-visited {
    font-style: italic;
}

.just-visited-image {
    height: 300px;
    border: 2px solid black;
}

.bottom-divider {
    margin: 60px auto;
    border: 2px solid black;
    width: 80vw;
    height: 2px;
}


/* FAVORITE SECTION */
.favorite-spot {
    border: 1px solid gray;
    height: 250px;
}

/* FOOTER */
.icon {
    font-size: 40px;
}



.icon-div {
    background-color: black;
    text-align: center;

    color: white;
}
.icon-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-toggler {
    background-color: whitesmoke !important;
  }
  