.home-image {
    /* border: 2px solid blue; */
    height: 65vh;
    background-image: url('../assets/ramen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-nav {
    color: white;
}
