/* NAV STYLING FOR HOMEPAGE */
#foodspot-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.custom-navbar-links {
    font-size: 20px;
}

.navbar-toggler-icon {
    color:white !important;
}

.nav-link {
    color:white !important;
}

@media (min-width:992px) {
    .brand-nav-name {
        margin-left: 50px;
    }
    
    .nav-links {
        margin-right: 50px;
    }

}